# Core Framework
Django==6.0.1
djangorestframework==3.16.1

# Database
psycopg2-binary==2.9.10

# Task Queue
celery==5.4.0
redis==5.2.1

# Utilities
python-dotenv==1.1.0
requests==2.32.3

# Monitoring
prometheus-client==0.20.0
django-prometheus==2.3.1
django-guardian==2.4.0
